img {
  max-width: 100%;
  border-radius: $border-radius-small;
}
.img-raised {
  box-shadow: $box-shadow-raised;
}
.img-logo {
  margin-top: 15px;
}
.img-background {
  width: 100%;
  height: 100%;
}

